!node_modules

node_modules/*
!node_modules/codemirror/

node_modules/codemirror/*
!node_modules/codemirror/mode

node_modules/codemirror/mode/*
!node_modules/codemirror/mode/smalltalk

node_modules/codemirror/mode/smalltalk/*
!node_modules/codemirror/mode/smalltalk/smalltalk.js