/*
Overriden styles CodeMirror.css
Guille Amaral
*/

.cm-s-material.CodeMirror {
  background-color: #303030;
}

.cm-s-material .CodeMirror-gutters {
  background: #303030;
  color: #546E7A;
  border: none;
}

.highlight {color: orange}

.cm-matchhighlight {background-color: rgba(128, 203, 196, 0.2)}

.CodeMirror-selection-highlight-scrollbar {background-color: darkblue}

.CodeMirror-merge-r-chunk {
  background: rgba(255, 34, 0, 0.401);
  border: none;
}

.CodeMirror-merge-gap {
  background: #303030;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.CodeMirror-merge-r-connect {
  fill: rgba(255, 34, 0, 0.401);
  stroke: none;
}

.CodeMirror-merge {
  position: relative;
  border: none;
}

.CodeMirror-scroll {
  height: auto!important;
  overflow: visible;
}
