name: Build/release

on:
  push:
    tags:
      - 'v*' # Trigger on tags starting with 'v'

jobs:
  release:
    runs-on: ${{ matrix.os }}
    env:
      SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_TOKEN }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Set CI to false
        run: echo "CI=false" >> $GITHUB_ENV

      # install snapcraft and login to allow uploading it to snap store
      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@v2
    
      - name: Extract version from tag
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Build x64 snap
        uses: Yan-Jobs/action-electron-builder@v1.7.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          args: --linux snap --x64 --publish never
      
      - name: Upload x64 snap
        run: snapcraft upload dist/*.snap --release=stable
      
      - name: Clean dist
        run: rm -rf dist
      
      - name: Build arm64 snap
        uses: Yan-Jobs/action-electron-builder@v1.7.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          args: --linux snap --arm64 --publish never
      
      - name: Upload arm64 snap
        run: snapcraft upload dist/*.snap --release=stable
